
<%= form_for [@user, @list] do |f| %>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 task-box">

      <!-- Edit Title-->
      <div class="row list-title-box">
        <span class="list-title">
          <%= f.text_field :title, class: "list-title-edit", placeholder: "Enter Title..." %>
        </span>
      </div>

      <!-- Edit Due Date -->
      <div class="row due-box">
        <span class="due-date">Due:
          <%= f.date_field :due_date %>
        </span>
      </div>

      <!--Edit tasks-->
      <div class="row list-tasks">
        <ul>
            <%= render 'task_form', f: f %>
        </ul>
      </div>

      <!--Edit users-->

      <div class="row checkboxes">
        <%= f.collection_check_boxes :user_ids, User.all, :id, :username %>
      </div>

      <!--Task List Footer-->
      <div class="row list-footer-box">
        <button type="submit" class="btn-sm btn-outline-secondary list-button" method="post">SAVE</button>
        <%= button_to "ADD TASK", new_user_list_path(@user, @list), class:'btn-sm btn-outline-secondary list-button', type:'submit', name:'task_field', value:'ADD TASK' %>

        <% end %>


      </div>

    </div>

    <div class="col-md-4">
    </div>
  </div>

    <%= flash[:message] %>
