<h1>Log In</h1>
<%= form_tag login_path do %>
	<%= label_tag 'email' %><br>
	<%= text_field_tag 'email' %><br>
	<%= label_tag 'password' %><br>
	<%= text_field_tag 'password' %><br>
	<%= submit_tag 'Log in' %>
    
    <br>
    <%= flash[:message] %>
<% end %>

<%= link_to('Log in with github!', '/auth/github') %><br>
<%= link_to('Need to Sign Up?', signup_path) %>
