<div class="flex-login-bg">
	<div class="flex-login">
		<div>
			<%= form_tag users_path do %>
				<%= label_tag 'email' %><br>
				<%= text_field_tag 'email', "", class:'login-input' %><br>
				<%= label_tag 'password' %><br>
				<%= password_field_tag 'password', "", class:'login-input' %><br>
				<span class="flash"><%= flash[:message] %></span>
				<%= submit_tag 'Sign Up', class: "login_button" %>
			    
			    <br>
			<% end %>
			<p>or</p>
			<%= button_to('Log in with github!', '/auth/github', class: "login_button") %>
			<%= link_to('Already have an account? Log in!', login_path, id: "signup_link") %>
		</div>
	</div>

</div>
