
<%= form_for [@user, @project] do |f| %>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 task-box">

      <!-- Edit Title-->
      <div class="row list-title-box">
        <span class="list-title">
          <%= f.text_field :name, class: "list-title-edit", placeholder: "Enter Title..." %>
        </span>
      </div>

      <!-- Edit Due Date -->
      <div class="row due-box">
        <span class="due-date">Due:
          <%= f.date_field :due_date %>
        </span>
      </div>

      <!--Edit tasks-->
      <div class="row list-tasks">
        <ul>
            <%= render 'tasks/form', f: f %>
        </ul>
      </div>


      <!--Task List Footer-->
      <div class="row list-footer-box">
        <%= f.submit "Save"%>
        <%= f.submit "Add Task"%>
        <% end %>
      </div>

    </div>

    <div class="col-md-4">
    </div>
  </div>

    <%= flash[:message] %>