
  <!--Begin Task Row--> 
  <div class="row">
    <% @projects.where(id: Task.pluck(:project_id).uniq).each do |project| %>
    <!-- Begin Task List-->
    <div class="col-md-4 task-box">

      <!--Task List Header-->
      <div class="row list-title-box">
        <span class="list-title"><%= project.name %></span>
      </div>

      <div class="row due-box">
        <span class="due-date">Due: <%= project.due_date.strftime("%b. %d, %Y") %></span>
      </div>

      <!--Task List Content-->
      <div class="row list-tasks">
        <% if project.tasks %>
        <ul>
          <% project.tasks.each_with_index do |task, i| %>
          <% if i.even? %>
            <li>
          <% else %>
            <li class="lg">
          <% end %>
              <% if task.done == true %>
                <span class="done_task">
              <% else %>
                <span>
              <% end %>
              <strong><%= task.name %></strong>
              <% if current_user.id == task.user.id %>
              <%= link_to "DONE", task_path(task, done: !task.done), class:'btn-sm btn-outline-secondary list-button', method:'put' %>
              <%= link_to "DEL.", task, class:'btn-sm btn-outline-secondary list-button', method:'delete' %>
              <% end %> <br>
              <span><em>Assignee: <%= task.user.email %></em></span><br>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>

      <!--Task List Footer-->
      <div class="row list-footer-box">
        <%= button_to "EDIT", edit_user_project_path(current_user, project), class:'btn-sm btn-outline-secondary list-button', method:'get' %>
        <%= button_to "DELETE", user_project_path(current_user, project), class:'btn-sm btn-outline-secondary list-button', method:'delete'%>
      </div>

    </div>
    <!--End Task List-->
<% end %>
  </div>

  <!--End Task Row-->
