<div class="container">
	<div class="grid-row"></div>
</div>

<input type='hidden' id='uid' value="<%=@user.id%>"></input>

<div id="create-project" onClick="addProject()">+ Add Project</div>

<script id="item-template", type="text/x-handlebars-template">
	{{#each this}}
		{{> createItemPartial}}
	{{/each}}
</script>

<script id="new-item-template", type="text/x-handlebars-template">
	<div class="grid-item" id="{{id}}grid-item">
	<div class="project-name">
		<h2 onClick="displayEditProjectName(this)" data-id="{{id}}">{{name}}</h2>
		<input class="project-name-input" data-id="{{id}}" value="{{name}}" autofocus onkeypress="editProjectName(this)" onfocusout="saveProjectName(this)" maxlength="20" placeholder="Enter Project Name"></input>
		<div class="marker" id="{{id}}delete" onClick="deleteProject(this)"><%= image_tag("x.png") %></div>
	</div>

	<div class="task-box" id="{{id}}task-box">
		{{#each tasks}}
			{{> taskPartial}}
		{{/each}}					
	</div>
	{{> createTaskPartial}}
	<div class="add-task-button add-task" id="{{id}}add-task" onClick="showTaskForm(this)">
		+ Add task
	</div>
	<div class="add-task-button save-button" id="{{id}}save" onClick="saveTask()">
		Save Task
	</div>
	</div>
</script>

<script id="note-template", type="text/x-handlebars-template">
	{{#each notes}}
		<p class="comment"><span class="commenter">{{user.email}}:</span> {{content}}</p>
	{{/each}}		
</script>

<script id="new-note-template", type="text/x-handlebars-template">
	<p class="comment"><span class="commenter">{{user.email}}:</span> {{content}}</p>
</script>

<script id="new-task-template", type="text/x-handlebars-template">
	<div class="task current-task" id="{{id}}task-container">
		<div class="task-name {{#if done}}done{{/if}}" id="{{id}}task" onClick="retrieveComments(this)">
			<div id="{{id}}inner-task-container">
				<h3>{{name}}</h3>
				<p class="assignee-box">Assignee: {{user.email}} </p>
				<h4>Due: {{due_date}}</h4>
			</div>
		</div>
		<div class="marker {{id}}marker" data-id={{id}} data-project-id="{{project_id}}" onClick="editTask(this)"><%= image_tag("edit.png") %></div>
		<div class="marker {{id}}marker" data-status="{{done}}" data-id={{id}} onClick="setTaskStatus(this)"><%= image_tag(("check.png"), :class => "check") %></div>
		<div class="marker {{id}}marker" id="{{id}}delete" onClick="deleteTask(this)"><%= image_tag("x.png") %></div>
	</div>

	<div class="task edit-task" id="{{id}}edit-task-container" data-id={{id}}>
		<div class="task-name {{#if done}}done{{/if}}" id="{{id}}task"">
			<div id="{{id}}inner-edit-task-container" class="inner-edit-task-container" data-id={{id}}>
				<input type="text" autofocus placeholder="Edit Task" class="edit-task-name" value="{{name}}" id="{{id}}edit-task-name"></input>
				<span class="edit-task-date assignee">Assignee: <%= select_tag "user", options_from_collection_for_select(@users, :id, :email) %></span><br>
				<span class="edit-task-date date">Due:<input type="date" class="new-date" id="{{id}}task-date" value="Date{{due_date}}"></input></span>
			</div>
		</div>
		<div class="marker cancel-marker" data-project-id="{{project-id}}" id="{{id}}cancel-marker" onClick=""><%= image_tag("x.png") %></div>
	</div>

	

	<div class="note-box" id="{{id}}box">
		<div>
			{{#each notes}}
				{{> notePartial}}
			{{/each}}
		</div>
		<input class="add-note" data-id="{{id}}" type="text" placeholder="+ Add Note" onkeypress="addNote(this)"></input>
	</div>	
</script>

<script id="create-task-template", type="text/x-handlebars-template">
	<div id="{{id}}new-task-form" class="new-task-form" onkeypress="addTask(this)">
		<input type="text" placeholder="New Task" class="new-task" id="{{id}}task-name"></input>
		<span class="new-task-date">Assignee: <%= select_tag "user", options_from_collection_for_select(@users, :id, :email) %></span>
		<span class="new-task-date">Due:<input type="date" class="new-date" id="{{id}}task-date"></input></span>
	</div>
</script>

<script>

	Handlebars.registerPartial('taskPartial',  document.getElementById("new-task-template").innerHTML)
	Handlebars.registerPartial('createTaskPartial',  document.getElementById("create-task-template").innerHTML)
	Handlebars.registerPartial('createItemPartial',  document.getElementById("new-item-template").innerHTML)

	$(document).ready(function() {
		$.ajax({
			dataType: "json",
			url: `/projects`,
			success: function(data) {
				var source = document.getElementById("item-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);
				$('.grid-row').prepend(result);
				$('.note-box').hide();
				$('.new-task-form').hide();
				$('.project-name-input').hide();
				$('.edit-task').hide();
				$('.save-button').hide();
			}
		});
	});

	function retrieveComments(obj) {
		$.ajax({
			dataType: "json",
			url: `/tasks/${parseInt(obj.id)}`,
			success: function(data) {
				var source = document.getElementById("note-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);
				$(` #${data.id}box div `).html(result);
				$(` #${data.id}box `).slideToggle("slow", function() {	
				});
			}
		});
	}

	function showTaskForm(obj) {
		let id = parseInt(obj.id);
		$(`#${id}new-task-form`).toggle();
	}

	function addTask(obj) {
		if (event.code == "Enter") {
		let id = parseInt(obj.id);
		var formData = {
			name: $(`#${id}task-name`).val(),
			due_date: $(`#${id}task-date`).val(),
			user_id : obj.querySelector('option:checked').value,
			project_id: id
		}
		console.log(obj);
		$.ajax({
			type: "POST",
			url: "/tasks",
			data: formData,
			success: function(data) {
				var source = document.getElementById("new-task-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);

				$(`#${id}task-box`).append(result);
				$('.note-box').hide();
				$('.new-task-form').hide();
			}
		});
		}	
	}

	function addProject() {
		$.ajax({
			type: "POST",
			url: "/projects",
			data: {name: "New Project"},
			success: function(data) {
				var source = document.getElementById("new-item-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);

				$('.grid-row').append(result);
				$('.new-task-form').hide();
				$('.project-name-input').hide();
			}
		});
	}

	function deleteTask(obj) {
		let id = parseInt(obj.id);
		console.log(id);
		$.ajax({
			type: "DELETE",
			url: `/tasks/${id}`,
			success: function() {
				$(`#${id}task-container`).remove();
			}
		});
	}

	function setTaskStatus(obj) {
		let id = obj.getAttribute('data-id');
		let status = { done: !JSON.parse(obj.getAttribute('data-status')) }
		console.log(status);
		$.ajax({
			type: "PATCH",
			url: `/tasks/${id}`,
			data: status,
			success: function(data) {
				console.log(data);
				$(`#${id}task`).toggleClass('done');
			}
		});

	}



</script>